vendor/
.env
.env.local
.env.test
.env.testing
composer.lock
/storage/
.idea/admin-control-panel.iml
.phpunit.cache/
.gitignore
.idea/
.idea/modules.xml
.idea/php.xml
.idea/phpunit.xml
.idea/vcs.xml
.idea/git_toolbox_prj.xml
Modules/ArPlatform/.DS_Store
.DS_Store
public/storage/
/internals/
*.patch

*.tmp
*.temp

.phpunit.result.cache
